In [1]:
import os
import pandas as pd
import pickle
import glob

In [19]:
# 현재 작업 디렉토리 정보 가져오기
current_dir = os.getcwd()
print(current_dir)

/Users/limjongjun/Desktop/JayJay/Growth/Python/soccer-analytics/data

In [12]:
#new_directory = '/path/to/new_directory'
new_directory = '/Users/limjongjun/Desktop/JayJay/Growth/Python/soccer-analytics/data'

# 작업 디렉토리 변경
os.chdir(new_directory)

#변경된 디렉토리 확인
print(current_dir)

/Users/limjongjun/Desktop/JayJay/Growth/Python/soccer-analytics/Excercise

##### (1) 경기 정보 불러오기

- 상대경로

In [18]:
dataset_name = 'England'
match_df = pd.read_csv(f'data/refined_events/{dataset_name}/matches.csv', index_col= False , encoding='utf-8-sig') #pkl 파일들 가장 밑에 csv 파일 존재
match_df

FileNotFoundError: [Errno 2] No such file or directory: 'data/refined_events/England/matches.csv'

In [20]:
match_df = pd.read_csv('/Users/limjongjun/Desktop/JayJay/Growth/Python/soccer-analytics/data/refined_events/England/matches.csv', index_col= False , encoding='utf-8-sig') #pkl 파일들 가장 밑에 csv 파일 존재
match_df

,match_id,gameweek,datetime,venue,team1_id,team1_name,team1_goals,team2_id,team2_name,team2_goals,duration
0,2499719,1,2017-08-11 18:45:00,Emirates Stadium,1609,Arsenal,4,1631,Leicester City,3,Regular
1,2499727,1,2017-08-12 11:30:00,Vicarage Road Stadium,1644,Watford,3,1612,Liverpool,3,Regular
2,2499726,1,2017-08-12 14:00:00,St. Mary's Stadium,1619,Southampton,0,10531,Swansea City,0,Regular
3,2499721,1,2017-08-12 14:00:00,Stamford Bridge,1610,Chelsea,2,1646,Burnley,3,Regular
4,2499728,1,2017-08-12 14:00:00,The Hawthorns,1627,West Bromwich Albion,1,1659,AFC Bournemouth,0,Regular
...,...,...,...,...,...,...,...,...,...,...,...
375,2500092,38,2018-05-13 14:00:00,Anfield,1612,Liverpool,4,1651,Brighton & Hove Albion,0,Regular
376,2500091,38,2018-05-13 14:00:00,The John Smith's Stadium,1673,Huddersfield Town,0,1609,Arsenal,1,Regular
377,2500090,38,2018-05-13 14:00:00,Selhurst Park,1628,Crystal Palace,2,1627,West Bromwich Albion,0,Regular
378,2500098,38,2018-05-13 14:00:00,London Stadium,1633,West Ham United,3,1623,Everton,1,Regular
379,2500089,38,2018-05-13 14:00:00,Turf Moor,1646,Burnley,1,1659,AFC Bournemouth,2,Regular

In [21]:
match_df.to_csv(path_or_buf = '/Users/limjongjun/Desktop/JayJay/Growth/Python/soccer-analytics/data/pl_matches.csv')

In [22]:
# 빈 데이터프레임 생성
union_df = pd.DataFrame()

# pkl 파일들의 경로를 가져옴
file_paths = glob.glob('/Users/limjongjun/Desktop/JayJay/Growth/Python/soccer-analytics/data/refined_events/England/*.pkl')

# 각 파일을 순회하면서 데이터를 읽어와 데이터프레임에 추가
for file_path in file_paths:
    with open(file_path, 'rb') as file:
        data = pickle.load(file)
        df = pd.DataFrame(data)
        union_df = pd.concat([union_df, df], ignore_index=True)

In [23]:
union_df

,match_id,event_id,period,time,team_id,team_name,player_id,player_name,event_type,sub_event_type,tags,start_x,start_y,end_x,end_y
0,2499938,218665430,1H,0.749,1633,West Ham United,41174,M. Lanzini,Pass,Simple pass,[Accurate],50.96,34.68,29.12,20.40
1,2499938,218665431,1H,4.264,1633,West Ham United,8553,W. Reid,Pass,High pass,[Not accurate],29.12,20.40,84.24,19.04
2,2499938,218666275,1H,7.114,1627,West Bromwich Albion,7914,J. Evans,Pass,Head pass,[Not accurate],19.76,48.96,31.20,44.88
3,2499938,218665432,1H,10.018,1633,West Ham United,20620,Pedro Obiang,Pass,Simple pass,[Accurate],72.80,23.12,67.60,62.56
4,2499938,218665433,1H,13.153,1633,West Ham United,26499,A. Masuaku,Pass,Simple pass,[Accurate],67.60,62.56,59.28,53.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647247,2499921,218383200,2H,3148.632,1628,Crystal Palace,38031,C. Benteke,Duel,Air duel,"[Won, Accurate]",94.64,41.48,91.52,43.52
647248,2499921,218383748,2H,3148.632,1625,Manchester City,0,NaN,Duel,Air duel,"[Lost, Not accurate]",9.36,26.52,12.48,24.48
647249,2499921,218383201,2H,3149.669,1628,Crystal Palace,38031,C. Benteke,Shot,Shot,"[Head/body, Opportunity, Position: Out low lef...",91.52,43.52,104.00,34.00
647250,2499921,218383202,2H,3156.334,1628,Crystal Palace,0,NaN,Interruption,Ball out of the field,[],102.96,48.28,NaN,NaN
647251,2499921,218383285,2H,3161.635,1625,Manchester City,71654,Ederson,Free kick,Goal kick,[],0.00,34.00,NaN,NaN

In [15]:
union_df.to_csv(path_or_buf = '/Users/limjongjun/Desktop/JayJay/Growth/Python/soccer-analytics/data/pl_events.csv')

- 절대경로

In [31]:
#데이터 불러오기
#방법 1 (조건에 col_index = 0)
dataset_name = 'England'
match_df = pd.read_csv('/Users/limjongjun/Desktop/JayJay/Growth/Python/soccer-analytics/data/refined_events/England/matches.csv', index_col=0, encoding='utf-8-sig') #pkl 파일들 가장 밑에 csv 파일 존재
match_df

#방법 2 (확인 후 추후 적용)
dataset_name = 'England'
match_df = pd.read_csv('/Users/limjongjun/Desktop/JayJay/Growth/Python/soccer-analytics/data/refined_events/England/matches.csv', encoding='utf-8-sig') #pkl 파일들 가장 밑에 csv 파일 존재
match_df = match_df.set_index('match_id')
match_df

,gameweek,datetime,venue,team1_id,team1_name,team1_goals,team2_id,team2_name,team2_goals,duration
match_id,,,,,,,,,,
2499719,1,2017-08-11 18:45:00,Emirates Stadium,1609,Arsenal,4,1631,Leicester City,3,Regular
2499727,1,2017-08-12 11:30:00,Vicarage Road Stadium,1644,Watford,3,1612,Liverpool,3,Regular
2499726,1,2017-08-12 14:00:00,St. Mary's Stadium,1619,Southampton,0,10531,Swansea City,0,Regular
2499721,1,2017-08-12 14:00:00,Stamford Bridge,1610,Chelsea,2,1646,Burnley,3,Regular
2499728,1,2017-08-12 14:00:00,The Hawthorns,1627,West Bromwich Albion,1,1659,AFC Bournemouth,0,Regular
...,...,...,...,...,...,...,...,...,...,...
2500092,38,2018-05-13 14:00:00,Anfield,1612,Liverpool,4,1651,Brighton & Hove Albion,0,Regular
2500091,38,2018-05-13 14:00:00,The John Smith's Stadium,1673,Huddersfield Town,0,1609,Arsenal,1,Regular
2500090,38,2018-05-13 14:00:00,Selhurst Park,1628,Crystal Palace,2,1627,West Bromwich Albion,0,Regular
2500098,38,2018-05-13 14:00:00,London Stadium,1633,West Ham United,3,1623,Everton,1,Regular
2500089,38,2018-05-13 14:00:00,Turf Moor,1646,Burnley,1,1659,AFC Bournemouth,2,Regular

In [32]:
match_df['team1_name'].unique()

array(['Arsenal', 'Watford', 'Southampton', 'Chelsea',
       'West Bromwich Albion', 'Everton', 'Crystal Palace',
       'Brighton & Hove Albion', 'Newcastle United', 'Manchester United',
       'Swansea City', 'Burnley', 'AFC Bournemouth', 'Liverpool',
       'Leicester City', 'Stoke City', 'Huddersfield Town',
       'Tottenham Hotspur', 'Manchester City', 'West Ham United'],
      dtype=object)

##### (2) 경기 정보 필터링

In [33]:
## df[ (df['col'] == '') and | (df['col2'] = '') ]
match_df[(match_df['team1_name'] == 'Manchester City') | (match_df['team2_name'] == 'Manchester City')]

,gameweek,datetime,venue,team1_id,team1_name,team1_goals,team2_id,team2_name,team2_goals,duration
match_id,,,,,,,,,,
2499720,1,2017-08-12 16:30:00,The American Express Community Stadium,1651,Brighton & Hove Albion,0,1625,Manchester City,2,Regular
2499734,2,2017-08-21 19:00:00,Etihad Stadium,1625,Manchester City,1,1623,Everton,1,Regular
2499739,3,2017-08-26 11:30:00,Vitality Stadium,1659,AFC Bournemouth,1,1625,Manchester City,2,Regular
2499754,4,2017-09-09 11:30:00,Etihad Stadium,1625,Manchester City,5,1612,Liverpool,0,Regular
2499767,5,2017-09-16 14:00:00,Vicarage Road Stadium,1644,Watford,0,1625,Manchester City,6,Regular
2499774,6,2017-09-23 14:00:00,Etihad Stadium,1625,Manchester City,5,1628,Crystal Palace,0,Regular
2499781,7,2017-09-30 16:30:00,Stamford Bridge,1610,Chelsea,0,1625,Manchester City,1,Regular
2499794,8,2017-10-14 14:00:00,Etihad Stadium,1625,Manchester City,7,1639,Stoke City,2,Regular
2499802,9,2017-10-21 14:00:00,Etihad Stadium,1625,Manchester City,3,1646,Burnley,0,Regular
2499818,10,2017-10-28 14:00:00,The Hawthorns,1627,West Bromwich Albion,2,1625,Manchester City,3,Regular
2499822,11,2017-11-05 14:15:00,Etihad Stadium,1625,Manchester City,3,1609,Arsenal,1,Regular
2499834,12,2017-11-18 15:00:00,King Power Stadium,1631,Leicester City,0,1625,Manchester City,2,Regular
2499841,13,2017-11-26 16:00:00,The John Smith's Stadium,1673,Huddersfield Town,1,1625,Manchester City,2,Regular
2499857,14,2017-11-29 20:00:00,Etihad Stadium,1625,Manchester City,2,1619,Southampton,1,Regular
2499865,15,2017-12-03 16:00:00,Etihad Stadium,1625,Manchester City,2,1633,West Ham United,1,Regular
2499873,16,2017-12-10 16:30:00,Old Trafford,1611,Manchester United,1,1625,Manchester City,2,Regular
2499881,17,2017-12-13 19:45:00,Liberty Stadium,10531,Swansea City,0,1625,Manchester City,4,Regular
2499895,18,2017-12-16 17:30:00,Etihad Stadium,1625,Manchester City,4,1624,Tottenham Hotspur,1,Regular
2499904,19,2017-12-23 15:00:00,Etihad Stadium,1625,Manchester City,4,1659,AFC Bournemouth,0,Regular
2499915,20,2017-12-27 19:45:00,St. James' Park,1613,Newcastle United,0,1625,Manchester City,1,Regular
2499921,21,2017-12-31 12:00:00,Selhurst Park,1628,Crystal Palace,0,1625,Manchester City,0,Regular
2499934,22,2018-01-02 20:00:00,Etihad Stadium,1625,Manchester City,3,1644,Watford,1,Regular
2499943,23,2018-01-14 16:00:00,Anfield,1612,Liverpool,4,1625,Manchester City,3,Regular
2499954,24,2018-01-20 17:30:00,Etihad Stadium,1625,Manchester City,3,1613,Newcastle United,1,Regular
2499966,25,2018-01-31 20:00:00,Etihad Stadium,1625,Manchester City,3,1627,West Bromwich Albion,0,Regular
2499972,26,2018-02-03 12:30:00,Turf Moor,1646,Burnley,1,1625,Manchester City,1,Regular
2499982,27,2018-02-10 17:30:00,Etihad Stadium,1625,Manchester City,5,1631,Leicester City,1,Regular
2499990,28,2018-03-01 19:45:00,Emirates Stadium,1609,Arsenal,0,1625,Manchester City,3,Regular
2500004,29,2018-03-04 16:00:00,Etihad Stadium,1625,Manchester City,1,1610,Chelsea,0,Regular
2500016,30,2018-03-12 20:00:00,Bet365 Stadium,1639,Stoke City,0,1625,Manchester City,2,Regular
2500033,32,2018-03-31 16:30:00,Goodison Park,1623,Everton,1,1625,Manchester City,3,Regular
2500045,33,2018-04-07 16:30:00,Etihad Stadium,1625,Manchester City,2,1611,Manchester United,3,Regular
2500057,34,2018-04-14 18:45:00,Wembley Stadium,1624,Tottenham Hotspur,1,1625,Manchester City,3,Regular
2500065,35,2018-04-22 15:30:00,Etihad Stadium,1625,Manchester City,5,10531,Swansea City,0,Regular
2500078,36,2018-04-29 13:15:00,London Stadium,1633,West Ham United,1,1625,Manchester City,4,Regular
2500085,37,2018-05-06 12:30:00,Etihad Stadium,1625,Manchester City,0,1673,Huddersfield Town,0,Regular
2500024,31,2018-05-09 19:00:00,Etihad Stadium,1625,Manchester City,3,1651,Brighton & Hove Albion,1,Regular
2500095,38,2018-05-13 14:00:00,St. Mary's Stadium,1619,Southampton,0,1625,Manchester City,1,Regular

##### 17/18 시즌 18Round Mancity vs Tottenham

In [38]:
match_id = 2499895
match_events = pd.read_pickle('/Users/limjongjun/Desktop/JayJay/Growth/Python/soccer-analytics/data/refined_events/England/2499895.pkl') #pkl 파일을 Dataframe으로 불러오기
match_events

,match_id,event_id,period,time,team_id,team_name,player_id,player_name,event_type,sub_event_type,tags,start_x,start_y,end_x,end_y
0,2499895,215108367,1H,1.784,1625,Manchester City,8325,S. Agüero,Pass,Simple pass,[Accurate],52.00,34.68,40.56,34.68
1,2499895,215108368,1H,3.324,1625,Manchester City,105339,Fernandinho,Pass,Simple pass,[Accurate],40.56,34.68,29.12,8.16
2,2499895,215108369,1H,6.406,1625,Manchester City,8277,K. Walker,Pass,Simple pass,[Accurate],29.12,8.16,44.72,10.20
3,2499895,215108370,1H,7.124,1625,Manchester City,38021,K. De Bruyne,Pass,Simple pass,[Accurate],44.72,10.20,69.68,6.12
4,2499895,215108371,1H,8.676,1625,Manchester City,11066,R. Sterling,Pass,Simple pass,[Accurate],69.68,6.12,58.24,12.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1607,2499895,215110122,2H,2875.703,1624,Tottenham Hotspur,210044,E. Dier,Pass,Simple pass,[Accurate],36.40,26.52,48.88,29.92
1608,2499895,215110123,2H,2876.142,1624,Tottenham Hotspur,240070,H. Winks,Duel,Ground attacking duel,"[Anticipation, Lost, Not accurate]",48.88,29.92,43.68,24.48
1609,2499895,215109959,2H,2876.768,1625,Manchester City,447205,P. Foden,Duel,Ground defending duel,"[Anticipated, Won, Accurate]",55.12,38.08,60.32,43.52
1610,2499895,215109960,2H,2878.046,1625,Manchester City,11066,R. Sterling,Duel,Ground attacking duel,"[Free space right, Lost, Not accurate]",60.32,43.52,60.32,43.52
1611,2499895,215110124,2H,2878.216,1624,Tottenham Hotspur,240070,H. Winks,Duel,Ground defending duel,"[Free space left, Lost, Not accurate]",43.68,24.48,NaN,NaN

##### 열 인덱싱 및 unique 값 확인 ( df['col'] )

In [45]:
match_events[['player_id', 'player_name' ]]

     player_id   player_name
0         8325     S. Agüero
1       105339   Fernandinho
2         8277     K. Walker
3        38021  K. De Bruyne
4        11066   R. Sterling
...        ...           ...
1607    210044       E. Dier
1608    240070      H. Winks
1609    447205      P. Foden
1610     11066   R. Sterling
1611    240070      H. Winks

[1612 rows x 2 columns]

In [41]:
match_events['player_name'].unique()

array(['S. Agüero', 'Fernandinho', 'K. Walker', 'K. De Bruyne',
       'R. Sterling', 'H. Winks', 'D. Rose', nan, 'H. Kane',
       'N. Otamendi', 'M. Dembélé', 'E. Dier', 'H. Lloris',
       'J. Vertonghen', 'F. Delph', 'Ederson', 'K. Trippier',
       'Son Heung-Min', 'C. Eriksen', 'L. Sané', 'E. Mangala',
       'İ. Gündoğan', 'D. Alli', 'Gabriel Jesus', 'E. Lamela', 'P. Foden',
       'M. Sissoko', 'Bernardo Silva'], dtype=object)

##### 행 인덱싱

In [47]:
match_events.loc[0]

match_id                  2499895
event_id                215108367
period                         1H
time                        1.784
team_id                      1625
team_name         Manchester City
player_id                    8325
player_name             S. Agüero
event_type                   Pass
sub_event_type        Simple pass
tags                   [Accurate]
start_x                      52.0
start_y                     34.68
end_x                       40.56
end_y                       34.68
Name: 0, dtype: object

In [46]:
match_events.loc[0:5]

,match_id,event_id,period,time,team_id,team_name,player_id,player_name,event_type,sub_event_type,tags,start_x,start_y,end_x,end_y
0,2499895,215108367,1H,1.784,1625,Manchester City,8325,S. Agüero,Pass,Simple pass,[Accurate],52.00,34.68,40.56,34.68
1,2499895,215108368,1H,3.324,1625,Manchester City,105339,Fernandinho,Pass,Simple pass,[Accurate],40.56,34.68,29.12,8.16
2,2499895,215108369,1H,6.406,1625,Manchester City,8277,K. Walker,Pass,Simple pass,[Accurate],29.12,8.16,44.72,10.20
3,2499895,215108370,1H,7.124,1625,Manchester City,38021,K. De Bruyne,Pass,Simple pass,[Accurate],44.72,10.20,69.68,6.12
4,2499895,215108371,1H,8.676,1625,Manchester City,11066,R. Sterling,Pass,Simple pass,[Accurate],69.68,6.12,58.24,12.24
5,2499895,215108382,1H,9.282,1624,Tottenham Hotspur,240070,H. Winks,Duel,Ground loose ball duel,"[Won, Accurate]",45.76,55.76,47.84,61.20

In [48]:
match_events.iloc[0:5]

,match_id,event_id,period,time,team_id,team_name,player_id,player_name,event_type,sub_event_type,tags,start_x,start_y,end_x,end_y
0,2499895,215108367,1H,1.784,1625,Manchester City,8325,S. Agüero,Pass,Simple pass,[Accurate],52.00,34.68,40.56,34.68
1,2499895,215108368,1H,3.324,1625,Manchester City,105339,Fernandinho,Pass,Simple pass,[Accurate],40.56,34.68,29.12,8.16
2,2499895,215108369,1H,6.406,1625,Manchester City,8277,K. Walker,Pass,Simple pass,[Accurate],29.12,8.16,44.72,10.20
3,2499895,215108370,1H,7.124,1625,Manchester City,38021,K. De Bruyne,Pass,Simple pass,[Accurate],44.72,10.20,69.68,6.12
4,2499895,215108371,1H,8.676,1625,Manchester City,11066,R. Sterling,Pass,Simple pass,[Accurate],69.68,6.12,58.24,12.24

In [49]:
match_events.loc[:,['player_id', 'player_name']]

     player_id   player_name
0         8325     S. Agüero
1       105339   Fernandinho
2         8277     K. Walker
3        38021  K. De Bruyne
4        11066   R. Sterling
...        ...           ...
1607    210044       E. Dier
1608    240070      H. Winks
1609    447205      P. Foden
1610     11066   R. Sterling
1611    240070      H. Winks

[1612 rows x 2 columns]

In [51]:
match_events['event_type'].unique()

array(['Pass', 'Duel', 'Others on the ball', 'Interruption', 'Free kick',
       'Foul', 'Shot', 'Offside', 'Save attempt',
       'Goalkeeper leaving line', 'Substitution'], dtype=object)

In [52]:
match_events[match_events['event_type']=='Shot']

,match_id,event_id,period,time,team_id,team_name,player_id,player_name,event_type,sub_event_type,tags,start_x,start_y,end_x,end_y
204,2499895,215108558,1H,549.772,1625,Manchester City,8325,S. Agüero,Shot,Shot,"[Head/body, Opportunity, Position: Out low rig...",95.68,25.84,104.00,34.00
299,2499895,215108640,1H,822.817,1625,Manchester City,14808,İ. Gündoğan,Shot,Shot,"[Goal, Head/body, Opportunity, Position: Goal ...",95.68,38.76,104.00,34.00
452,2499895,215108755,1H,1380.188,1625,Manchester City,8325,S. Agüero,Shot,Shot,"[Left foot, Opportunity, Position: Goal low ce...",88.40,49.64,104.00,34.00
456,2499895,215108760,1H,1385.615,1625,Manchester City,11066,R. Sterling,Shot,Shot,"[Left foot, Opportunity, Position: Out high le...",91.52,42.84,104.00,34.00
480,2499895,215108786,1H,1474.472,1625,Manchester City,38021,K. De Bruyne,Shot,Shot,"[Left foot, Opportunity, Position: Goal low le...",80.08,36.72,104.00,34.00
506,2499895,215108826,1H,1590.043,1625,Manchester City,14808,İ. Gündoğan,Shot,Shot,"[Counter attack, Right foot, Opportunity, Posi...",91.52,45.56,104.00,34.00
546,2499895,215108879,1H,1693.638,1625,Manchester City,8325,S. Agüero,Shot,Shot,"[Right foot, Blocked, Not accurate]",91.52,22.44,92.56,24.48
606,2499895,215108944,1H,1959.94,1625,Manchester City,8325,S. Agüero,Shot,Shot,"[Left foot, Opportunity, Position: Out low rig...",85.28,34.00,104.00,34.00
632,2499895,215109180,1H,2047.956,1624,Tottenham Hotspur,8717,H. Kane,Shot,Shot,"[Right foot, Opportunity, Position: Out low ri...",85.28,51.00,104.00,34.00
777,2499895,215109097,1H,2633.298,1625,Manchester City,8325,S. Agüero,Shot,Shot,"[Counter attack, Left foot, Blocked, Not accur...",90.48,20.40,89.44,29.24
810,2499895,215109134,1H,2730.426,1625,Manchester City,14808,İ. Gündoğan,Shot,Shot,"[Right foot, Opportunity, Position: Goal cente...",76.96,38.08,104.00,34.00
960,2499895,215109497,2H,381.565,1624,Tottenham Hotspur,48,J. Vertonghen,Shot,Shot,"[Right foot, Blocked, Not accurate]",87.36,46.24,93.60,44.20
1027,2499895,215109572,2H,574.986,1624,Tottenham Hotspur,8717,H. Kane,Shot,Shot,"[Right foot, Opportunity, Position: Goal cente...",80.08,35.36,104.00,34.00
1072,2499895,215109661,2H,779.26,1624,Tottenham Hotspur,8292,D. Rose,Shot,Shot,"[Left foot, Opportunity, Position: Out high ri...",85.28,47.60,104.00,34.00
1081,2499895,215109454,2H,815.724,1625,Manchester City,245364,L. Sané,Shot,Shot,"[Left foot, Position: Out high left, Not accur...",92.56,47.60,104.00,34.00
1162,2499895,215109783,2H,1119.05,1624,Tottenham Hotspur,14911,Son Heung-Min,Shot,Shot,"[Left foot, Opportunity, Position: Out high le...",82.16,26.52,104.00,34.00
1224,2499895,215109623,2H,1280.933,1625,Manchester City,245364,L. Sané,Shot,Shot,"[Right foot, Opportunity, Position: Goal cente...",91.52,39.44,104.00,34.00
1226,2499895,215109624,2H,1283.849,1625,Manchester City,11066,R. Sterling,Shot,Shot,"[Left foot, Opportunity, Position: Out high ce...",96.72,32.64,104.00,34.00
1261,2499895,215109644,2H,1486.873,1625,Manchester City,38021,K. De Bruyne,Shot,Shot,"[Goal, Counter attack, Left foot, Opportunity,...",94.64,48.28,104.00,34.00
1347,2499895,215109704,2H,1799.53,1625,Manchester City,11066,R. Sterling,Shot,Shot,"[Left foot, Opportunity, Position: Out high le...",92.56,30.60,104.00,34.00
1434,2499895,215109780,2H,2094.226,1625,Manchester City,11066,R. Sterling,Shot,Shot,"[Goal, Counter attack, Right foot, Opportunity...",102.96,29.92,104.00,34.00
1492,2499895,215109837,2H,2416.323,1625,Manchester City,265673,Bernardo Silva,Shot,Shot,"[Left foot, Opportunity, Position: Goal low le...",96.72,48.28,104.00,34.00
1537,2499895,215109889,2H,2526.102,1625,Manchester City,11066,R. Sterling,Shot,Shot,"[Left foot, Opportunity, Position: Goal high l...",81.12,36.72,104.00,34.00
1566,2499895,215109918,2H,2645.632,1625,Manchester City,11066,R. Sterling,Shot,Shot,"[Goal, Right foot, Opportunity, Position: Goal...",95.68,27.88,104.00,34.00
1600,2499895,215110118,2H,2826.583,1624,Tottenham Hotspur,54,C. Eriksen,Shot,Shot,"[Goal, Left foot, Opportunity, Position: Goal ...",84.24,38.08,104.00,34.00

In [54]:
match_events[['team_id', 'team_name', 'player_id', 'player_name']].drop_duplicates()

     team_id          team_name player_id     player_name
0       1625    Manchester City      8325       S. Agüero
1       1625    Manchester City    105339     Fernandinho
2       1625    Manchester City      8277       K. Walker
3       1625    Manchester City     38021    K. De Bruyne
4       1625    Manchester City     11066     R. Sterling
5       1624  Tottenham Hotspur    240070        H. Winks
7       1624  Tottenham Hotspur      8292         D. Rose
9       1624  Tottenham Hotspur         0             NaN
12      1624  Tottenham Hotspur      8717         H. Kane
14      1625    Manchester City     70086     N. Otamendi
19      1624  Tottenham Hotspur     11152      M. Dembélé
20      1624  Tottenham Hotspur    210044         E. Dier
21      1624  Tottenham Hotspur     25381       H. Lloris
22      1624  Tottenham Hotspur        48   J. Vertonghen
33      1625    Manchester City      8464        F. Delph
35      1625    Manchester City     71654         Ederson
54      1624  Tottenham Hotspur      8945     K. Trippier
59      1624  Tottenham Hotspur     14911   Son Heung-Min
64      1624  Tottenham Hotspur        54      C. Eriksen
83      1625    Manchester City    245364         L. Sané
88      1625    Manchester City     70085      E. Mangala
89      1625    Manchester City     14808     İ. Gündoğan
107     1625    Manchester City         0             NaN
139     1624  Tottenham Hotspur     13484         D. Alli
1047    1625    Manchester City    340386   Gabriel Jesus
1362    1624  Tottenham Hotspur     20441       E. Lamela
1452    1625    Manchester City    447205        P. Foden
1457    1624  Tottenham Hotspur     25804      M. Sissoko
1476    1625    Manchester City    265673  Bernardo Silva

In [56]:
match_events[['team_id', 'team_name', 'player_id', 'player_name']].drop_duplicates().sort_values('team_id')

     team_id          team_name player_id     player_name
59      1624  Tottenham Hotspur     14911   Son Heung-Min
1362    1624  Tottenham Hotspur     20441       E. Lamela
54      1624  Tottenham Hotspur      8945     K. Trippier
139     1624  Tottenham Hotspur     13484         D. Alli
5       1624  Tottenham Hotspur    240070        H. Winks
7       1624  Tottenham Hotspur      8292         D. Rose
9       1624  Tottenham Hotspur         0             NaN
12      1624  Tottenham Hotspur      8717         H. Kane
64      1624  Tottenham Hotspur        54      C. Eriksen
19      1624  Tottenham Hotspur     11152      M. Dembélé
20      1624  Tottenham Hotspur    210044         E. Dier
21      1624  Tottenham Hotspur     25381       H. Lloris
22      1624  Tottenham Hotspur        48   J. Vertonghen
1457    1624  Tottenham Hotspur     25804      M. Sissoko
0       1625    Manchester City      8325       S. Agüero
107     1625    Manchester City         0             NaN
1047    1625    Manchester City    340386   Gabriel Jesus
1452    1625    Manchester City    447205        P. Foden
89      1625    Manchester City     14808     İ. Gündoğan
88      1625    Manchester City     70085      E. Mangala
33      1625    Manchester City      8464        F. Delph
35      1625    Manchester City     71654         Ederson
14      1625    Manchester City     70086     N. Otamendi
4       1625    Manchester City     11066     R. Sterling
3       1625    Manchester City     38021    K. De Bruyne
2       1625    Manchester City      8277       K. Walker
1       1625    Manchester City    105339     Fernandinho
83      1625    Manchester City    245364         L. Sané
1476    1625    Manchester City    265673  Bernardo Silva

In [57]:
#이벤트와 sub event의 고유값 확인 및 정렬
match_events[['event_type','sub_event_type']].drop_duplicates().sort_values(['event_type','sub_event_type'])

                   event_type           sub_event_type
16                       Duel                 Air duel
18                       Duel    Ground attacking duel
19                       Duel    Ground defending duel
5                        Duel   Ground loose ball duel
34                       Foul                     Foul
650                      Foul                Hand foul
298                 Free kick                   Corner
35                  Free kick                Free kick
203                 Free kick          Free kick cross
28                  Free kick                Goal kick
1346                Free kick                  Penalty
10                  Free kick                 Throw in
954   Goalkeeper leaving line  Goalkeeper leaving line
9                Interruption    Ball out of the field
555              Interruption                  Whistle
214                   Offside
353        Others on the ball             Acceleration
113        Others on the ball                Clearance
8          Others on the ball                    Touch
189                      Pass                    Cross
145                      Pass                Hand pass
13                       Pass                Head pass
15                       Pass                High pass
313                      Pass                   Launch
0                        Pass              Simple pass
160                      Pass               Smart pass
300              Save attempt                 Reflexes
481              Save attempt             Save attempt
204                      Shot                     Shot
1047             Substitution                Player in
1048             Substitution               Player out